@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Search";

	// this page only includes the search form
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
		<p><label>Search for Restaurants at Your Location</label><br>
		<b>Supported countries:</b> Australia, Brasil, Canada, Chile, Czech Republic, India, Indonesia, Ireland, Italy, Lebanon, Malaysia, 
		New Zealand, Philippines, Poland, Portugal, Qatar, Slovakia, South Africa, Sri Lanka, Turkey, UAE, United Kingdom, United States
		<form action="/Restaurants/Results" method="post">
		<p><label>Enter Location</label>
		<input type="text" name="search" /></p>
		<p><input type="submit" value="Search" /></p>
		</form>
    </div>
</section>
}